<p>Lista de cursos do portal {{ nomePortal }}</p>

<ul>
  <li *ngFor="let curso of cursos">
    {{ curso }}
  </li>
</ul>

<app-curso-detalhe></app-curso-detalhe>

<a href="http://praisetecnologia.com.br"
  >Ir para a página inicial Praise tecnologia</a
>

<br /><br />

<h2>What Can JavaScript Do?</h2>

<p id="demo">JavaScript can hide HTML elements.</p>

<button
  type="button"
  onclick="document.getElementById('demo').style.display='none'"
>
  Click Me!
</button>

<h1>My First Web Page</h1>
<p>My first paragraph.</p>
